.index{
    margin-top: 85px;
    .font-default::before{
        content: '';
        border-left: 6px solid #6190E8;
        padding-right: 10px;
    }
    .font-default{
        margin-bottom: 15px;
    }
}